<template>
  <div>
    <h2>Search</h2>
    <form v-on:submit.prevent="search">
      <input type="search" v-model="searchInput">
      <button type="submit">Search</button>
    </form>

    <template v-if="apiResponse">
      <h2>Result</h2>
      <p>Total: {{ apiResponse.total }}</p>
      <p>Start: {{ apiResponse.start }}</p>
      <p>Count: {{ apiResponse.count }}</p>
      <h4>IDs</h4>
      <ul>
        <li v-for="id in apiResponse.ids">{{ id }}</li>
      </ul>
    </template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchInput: "",
      apiResponse: null
    };
  },
  methods: {
    async search() {
      const apiClient = this.$context.getPubmedApiClient();
      const res = await apiClient.search(this.searchInput);
      this.apiResponse = res;
    }
  }
};
</script>
