<template>
  <div id="app">
    <PubmedSearchPage/>
  </div>
</template>

<script>
import PubmedSearchPage from "./pages/PubmedSearchPage.vue";

export default {
  name: "app",
  components: {
    PubmedSearchPage
  }
};
</script>
